{% extends 'authentication/base_auth.html' %}
{% load static %}
{% block style %}
   <link rel='stylesheet' type='text/css' media='screen' href="{% static 'authentication/password_change.css' %}">
{% endblock style %}
{% block content %}
    <p>{{ message }}</p>
    <div class="container">
        <h1>Mise à jour du mot de passe</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label >{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="btn-container">
                <a href="{% url 'home' %}">Annuler</a>
                <button type="submit">Valider</button>
            </div>

        </form>
    </div>

{% endblock content %}