{% extends 'base.html' %}
{% load static %}
{% block style %}
     <link rel='stylesheet' type='text/css' media='screen' href="{% static 'products/css/product_delete.css' %}">
{% endblock style %}
{% block content %}
<section class="dashboard home-section active">
    <nav>
        <div class="side-bar-button">
            <i class="fa-solid fa-bars sidebarBtn"></i>
        
            <span class="dashboard">Admin</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class="fa-solid fa-magnifying-glass"></i>
            
        </div>
        <div class="profile-detail">
            {% if user.profile_photo %}
                   <img src="{{ user.profile_photo.url }}">
                {% else %}
                   <img src="{% static 'default-user-profile.jpg' %}" alt="">
                {% endif %}
            <span class="admin-name">{{user.username}}</span>
            <i class="bx bx-chevron-down"></i>
        </div>
    </nav>  
    <div class="home_content">
        <h1>Supprimer "{{ object }}"</h1>
        <p>Êtes-vous sûr de vouloir supprimer le client "{{ object }}" ? Cette action est irréversible.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Supprimer</button>
            <a href="{% url 'client_list'  %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</section>
{% endblock %}