{% extends 'base.html' %}
{% block title %}
   <div class='page_title'><h3>AssignationItineraire List</h3></div>
{% endblock title %}
{% block content %}
   <div class='actions'>
      <a href='{% url 'transport_scolaire:assignationitineraire-create' %}' class='btn btn-primary text-white'>
         Add New assignationitineraire
   </a>
   </div>
   <form class='form-search'  method='GET'>
   <div class='content-search'>
         <div class='d-flex group flex-column '>         <label>Start dateAssigntion</label>            <input type='date' placeholder='date' value='{{search_filter_dateAssigntion_gte}}'  name='search_filter_dateAssigntion_gte'>
         </div>         <div class='d-flex group flex-column '>         <label>End dateAssigntion</label>            <input type='date' value='{{search_filter_dateAssigntion_lte}}'  name='search_filter_dateAssigntion_lte'>
         </div>         <div class='d-flex group flex-column '>            <label>eleve</label>            <select type='text'  name='search_filter_eleve'>
<option value=''>-----------</option>{% for eleve in eleves %}
<option {% if search_filter_eleve|stringformat:"s" == eleve.pk|stringformat:"s" %}selected{% endif %}  value='{{eleve.pk}}'>{{eleve}}</option>{% endfor %}
         <select type='text' name='search_filter'>
         </div>         <div class='d-flex group flex-column '>            <label>itineraire</label>            <select type='text'  name='search_filter_itineraire'>
<option value=''>-----------</option>{% for itineraire in itineraires %}
<option {% if search_filter_itineraire|stringformat:"s" == itineraire.pk|stringformat:"s" %}selected{% endif %}  value='{{itineraire.pk}}'>{{itineraire}}</option>{% endfor %}
         <select type='text' name='search_filter'>
         </div>         <button type='submit' class='btn btn-primary sub-2 text-white' >Search</button>
   </div>
   </form>
   <form class='form-search'  method='GET'>
         <input type='text' name='search_query' value='{{search_query}}' placeholder='search...'>
         <button type='submit' class='btn btn-primary text-white' >Search</button>
   </form>
   <div class='table-responsive'>
      <table class='table'>
         <thead>
            <tr>
               <th>N°</th>
               <th>dateAssigntion</th>
               <th>eleve</th>
               <th>itineraire</th>
               <th>Actions<th>
            </tr>
         </thead>
         <tbody>
         {% for assignationitineraire in assignationitineraires %}
            <tr>
               <td>{{ assignationitineraire.pk }}</td>
               <td>{{ assignationitineraire.dateAssigntion }}</td>
               <td>{{ assignationitineraire.eleve }}</td>
               <td>{{ assignationitineraire.itineraire }}</td>
               <td class='col-actions'>
                  <a class='see btn btn-outline-primary text-primary' href="{% url 'transport_scolaire:assignationitineraire-detail' assignationitineraire.pk %}"><i class='fa-solid fa-eye'></i></a>
                  <a class='update btn btn-outline-secondary text-secondary' href="{% url 'transport_scolaire:assignationitineraire-update' assignationitineraire.pk %}"><i class='fa-solid fa-pen-to-square'></i></a>
                  <a class='delete btn btn-outline-danger text-danger' href="{% url 'transport_scolaire:assignationitineraire-delete' assignationitineraire.pk %}"><i class='fa-solid fa-trash-can'></i></a>
               </td>
            </tr>
         {% endfor %}
         </tbody>
      </table>
   </div>

<div class="panigation">
            <span>
               <span>
                   Page {{ assignationitineraires.number }} sur {{ assignationitineraires.paginator.num_pages }}.

               </span>
               {% if assignationitineraires.has_previous %}
                   <a href="?page=1">premiere</a>
                   <a href="?page={{ assignationitineraires.previous_page_number }}">precedente</a>
               {% endif %}


               {% if assignationitineraires.has_next %}
                   <a href="?page={{ assignationitineraires.next_page_number }}">suivante</a>

                   <a href="?page={{ assignationitineraires.paginator.num_pages }}">derniere</a>
               {% endif %}
           </span>
       </div>
  
{% endblock content %}
