{% extends 'base.html' %}
{% block title %}
   <div class='page_title'><h3>Parent List</h3></div>
{% endblock title %}
{% block content %}
   <div class='actions'>
      <a href='{% url 'transport_scolaire:parent-create' %}' class='btn btn-primary text-white'>
         Add New parent
   </a>
   </div>
   <form class='form-search'  method='GET'>
   <div class='content-search'>
   </div>
   </form>
   <form class='form-search'  method='GET'>
         <input type='text' name='search_query' value='{{search_query}}' placeholder='search...'>
         <button type='submit' class='btn btn-primary text-white' >Search</button>
   </form>
   <div class='table-responsive'>
      <table class='table'>
         <thead>
            <tr>
               <th>N°</th>
               <th>nom_mere</th>
               <th>nom_pere</th>
               <th>tel_mere</th>
               <th>tel_pere</th>
               <th>email</th>
               <th>adresse</th>
               <th>Actions<th>
            </tr>
         </thead>
         <tbody>
         {% for parent in parents %}
            <tr>
               <td>{{ parent.pk }}</td>
               <td>{{ parent.nom_mere }}</td>
               <td>{{ parent.nom_pere }}</td>
               <td>{{ parent.tel_mere }}</td>
               <td>{{ parent.tel_pere }}</td>
               <td>{{ parent.email }}</td>
               <td>{{ parent.adresse }}</td>
               <td class='col-actions'>
                  <a class='see btn btn-outline-primary text-primary' href="{% url 'transport_scolaire:parent-detail' parent.pk %}"><i class='fa-solid fa-eye'></i></a>
                  <a class='update btn btn-outline-secondary text-secondary' href="{% url 'transport_scolaire:parent-update' parent.pk %}"><i class='fa-solid fa-pen-to-square'></i></a>
                  <a class='delete btn btn-outline-danger text-danger' href="{% url 'transport_scolaire:parent-delete' parent.pk %}"><i class='fa-solid fa-trash-can'></i></a>
               </td>
            </tr>
         {% endfor %}
         </tbody>
      </table>
   </div>

<div class="panigation">
            <span>
               <span>
                   Page {{ parents.number }} sur {{ parents.paginator.num_pages }}.

               </span>
               {% if parents.has_previous %}
                   <a href="?page=1">premiere</a>
                   <a href="?page={{ parents.previous_page_number }}">precedente</a>
               {% endif %}


               {% if parents.has_next %}
                   <a href="?page={{ parents.next_page_number }}">suivante</a>

                   <a href="?page={{ parents.paginator.num_pages }}">derniere</a>
               {% endif %}
           </span>
       </div>
  
{% endblock content %}
