section{
    background-color: #f5f5f5;

    position: relative;
    min-height: 100vh;
    width:  calc(100% - 240px);
    left: 240px;
    transition:  all 0.4s ease;
}
.side-bar.active ~ section{
   width:  calc(100% - 60px);
   left: 60px;
}
section nav{
    position: fixed;
    top:0;
    z-index: 10;
    width:  calc(100% - 240px);
    left: 240px;
    height: 80px;
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}
.side-bar.active ~ section nav{
   width:  calc(100% - 60px);
   left: 60px;
}
section nav .side-bar-button{
   display: flex;
   align-items: center;
   font-size: 24px;
   font-weight: 500;
}
section nav .side-bar-button i {
   font-size: 35px;
   margin-right: 10px;
}
section nav .search-box{
   width: 550px;
   height: 50px;
   margin: 0 20px;

   position: relative;
}
nav .search-box input{
   position: absolute;

   height: 100%;
   width: 100%;
   border-radius: 6px;
   padding: 0;
   font-size: 17px;
   background: #F5F6FA;
   border: 2px solid #EFEEF1;
   outline: none;
}
nav .search-box .fa-magnifying-glass{
    position: absolute;
    right: 5px;
    height: 40px;
    top:50%;
    transform: translateY(-50%);
    width: 40px;
    background: #2697FF;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}
nav .profile-detail{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    min-width: 190px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}
nav .profile-detail img{
    height: 40px;
    width: 40px;
    /* object-fit: cover; */
    border-radius: 6px;
}
nav .profile-detail .admin-name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;

}
nav .profile-detail i{
   color: #333;
   font-size: 25px;
}
section .home_content{
    position: relative;
   padding-top: 100px;
}
section .overview-boxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    flex-wrap: wrap;
}
section .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
}
section .overview-boxes .box{
    width:calc(100% /4 - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #fff;
   padding: 15px 14px;
   border-radius: 12px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   /*box-shadow: 0 0 0px 1px rgba(0, 255, 255, 0.3),
      1px 2px 3px 3px  rgba(0, 255, 255, 0.3),
      2px 3px 9px 10px rgba(0, 255, 255, 0.3);*/
}
section .overview-boxes .number{
   font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}
section .overview-boxes .indicator{
    display: flex;
    align-items: center;
}
section .overview-boxes .indicator i{
   height: 20px;
   width: 20px;
   color: #8FDACB;
   background-color: #fff;
   border-radius: 50%;
   font-size: 20px;
   margin-right: 5px;
}
section .overview-boxes .indicator text{
   font-size: 12px;
}
section .overview-boxes .box .cart{
    font-size: 32px;

    height: 50px;
    width: 50px;
    background-color: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}
section .overview-boxes .box .cart.two{
   color: #2BD47D;
   background-color: #C0F2D8;

}
section .overview-boxes .box .cart.three{
   background-color: #ffe8b3;
   color: #ffc233;
}
section .overview-boxes .box .cart.four{
   color: #e05260;
   background-color: #f7d4d7;
}
section .sales-boxes{
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
section .sales-boxes .recent-sale{
   width: 65%;
   background: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
section .sales-boxes .sales-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

section .sales-boxes .box .title{
   font-size: 20px;
   font-weight: 600;

}
section .sales-boxes .box .topic{
   font-size: 20px;
   font-weight: 600;
}

section .sales-boxes .box li{
list-style: none;
margin: 8px 0;
}
section .sales-boxes .box li a{
   text-decoration: none;
   color: #333;
   font-size: 18px;
   font-weight: 400;
   margin: 8px 0;
   }
section .recent-sale  .button{
   width: 100%;

   display: flex;
   justify-content: flex-end;

}
section .sales-boxes .button a{
   font-size: 15px;
   font-weight: 400;
   color:#fff;
   background-color: #0A2558;
   padding: 4px 12px;
   border-radius: 4px;
   text-decoration: none;
   transition: all 0.3s ease;
}
section .sales-boxes .button a:hover{
   background-color: #0d3073;
}
/* right side */
section .sales-boxes .top-sale {
   width: 35%;
   margin-left: 20px;
   background: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
section .sales-boxes .top-sale li a{
   display: flex;
   align-items: center;
}
section .sales-boxes .top-sale li{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0%;

}
section .sales-boxes img{
   width: 40px;
   height: 40px;
   border-radius: 4px;
   object-fit: cover;
   margin-right:8px;
}


/* responsive */
@media (max-width:1216px){
    .side-bar{
        width: 60px;
    }
    .side-bar.active{
        width: 220px;
    }

    section{
        width:  calc(100% - 60px);
        left: 60px;
    }
    .side-bar.active ~ section{
        width:  calc(100% - 220px);
        left: 220px;
    }
    section nav{
        width:  calc(100% - 60px);
        left: 60px;
    }
    .side-bar.active ~ section nav{
        width:  calc(100% - 220px);
        left: 220px;
    }
}
@media (max-width: 1078px){
    section .sales-boxes{
        flex-direction: column;
    }
        section .sales-boxes .box{
            width: 100%;
            margin-bottom: 20px;
        }
        section .sales-boxes .top-sale{
            flex-direction: column;
            margin-left: 0%;
        }
}
@media (max-width:1000px){
    section .overview-boxes .box{
        width: calc(100% /2 - 15px);
    }
}
@media (max-width:650px){

    nav .profile-detail{
        min-width: 50px;
        height: 50px;

    }
    nav .dashboard,
    nav .profile-detail .admin-name,
    nav .profile-detail i{
        display: none;
    }
}
