{% extends 'base.html' %}
{% block title %}
   <div class='page_title'><h3>Ecole List</h3></div>
{% endblock title %}
{% block content %}
   <div class='actions'>
      <a href='{% url 'transport_scolaire:ecole-create' %}' class='btn btn-primary text-white'>
         Add New ecole
   </a>
   </div>
   <form class='form-search'  method='GET'>
   <div class='content-search'>
   </div>
   </form>
   <form class='form-search'  method='GET'>
         <input type='text' name='search_query' value='{{search_query}}' placeholder='search...'>
         <button type='submit' class='btn btn-primary text-white' >Search</button>
   </form>
   <div class='table-responsive'>
      <table class='table'>
         <thead>
            <tr>
               <th>N°</th>
               <th>nom</th>
               <th>Actions<th>
            </tr>
         </thead>
         <tbody>
         {% for ecole in ecoles %}
            <tr>
               <td>{{ ecole.pk }}</td>
               <td>{{ ecole.nom }}</td>
               <td class='col-actions'>
                  <a class='see btn btn-outline-primary text-primary' href="{% url 'transport_scolaire:ecole-detail' ecole.pk %}"><i class='fa-solid fa-eye'></i></a>
                  <a class='update btn btn-outline-secondary text-secondary' href="{% url 'transport_scolaire:ecole-update' ecole.pk %}"><i class='fa-solid fa-pen-to-square'></i></a>
                  <a class='delete btn btn-outline-danger text-danger' href="{% url 'transport_scolaire:ecole-delete' ecole.pk %}"><i class='fa-solid fa-trash-can'></i></a>
               </td>
            </tr>
         {% endfor %}
         </tbody>
      </table>
   </div>

<div class="panigation">
            <span>
               <span>
                   Page {{ ecoles.number }} sur {{ ecoles.paginator.num_pages }}.

               </span>
               {% if ecoles.has_previous %}
                   <a href="?page=1">premiere</a>
                   <a href="?page={{ ecoles.previous_page_number }}">precedente</a>
               {% endif %}


               {% if ecoles.has_next %}
                   <a href="?page={{ ecoles.next_page_number }}">suivante</a>

                   <a href="?page={{ ecoles.paginator.num_pages }}">derniere</a>
               {% endif %}
           </span>
       </div>
  
{% endblock content %}
